<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Readmix</title>

	<base href="/">

	<link rel="stylesheet" href="static/css/readmix.css">
	{% block css %}
	{% endblock %}
</head>
<body class="bg-slate-200">

	<header class="max-w-md mx-auto grid grid-cols-3 bg-slate-600 text-white rounded-b shadow text-center font-bold select-none ch:px-2 ch:py-2">
		<a href="https://iaseth.github.io/readmix">Docs</a>
		<a href="https://github.com/iaseth/readmix">GitHub</a>
		<a href="https://www.npmjs.com/package/readmix">NPM</a>
	</header>

	<header class="py-10 text-center">
		<a class="text-2xl font-bold" href="/">Readmix</a>
	</header>

	<main class="min-h-screen px-2 py-2">
	{% block content %}
	<h4>Content goes here.</h4>
	{% endblock %}
	</main>

	<footer class="py-12"></footer>

	<footer class="bg-slate-700 text-white text-center px-4 py-10">
		<h4>Created by <a href="https://github.com/iaseth">Ankur Seth</a>.</h4>
	</footer>
</body>
</html>