{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="static/css/github-markdown.css">
<link rel="stylesheet" href="static/css/github-primer.css">
{% endblock %}

{% block content %}
<section class="bg-white max-w-5xl mx-auto rounded overflow-hidden shadow">
	<header class="bg-firebrick-500 text-white px-4 py-3 text-center flex">
		<a href="{{ entry.prev.pageURL }}">{{ entry.prev.basepath }}</a>
		<section class="grow">
			<h4>{{ entry.basepath }}</h4>
		</section>
		<a href="{{ entry.next.pageURL }}">{{ entry.next.basepath }}</a>
	</header>

	<article class="markdown-body px-4 py-6">
		{{ htmlText | safe }}
	</article>

	<footer class="bg-slate-800 text-white px-4 py-4 text-center">
		<h4>{{ entry.inputFilepath }}</h4>
		<h4>{{ entry.outputFilepath }}</h4>
	</footer>
</section>
{% endblock %}
